/* New Community CSS */
@import url("reset.css");
@import url("layout.css");
@import url("color.css");
@import url("nav.css");
@import url("subnav.css");
@import url("frontpage.css");
@import url("boxessitepages.css");
@import url("site_pages.css");

/*
Current Load Order

bootstrap

SWL:
site_pages
site_page_modules
jquery-ui

Blackbaud:
layout
color
nav
subnav
frontpage
boxessitepages
site_pages

Other:
google fonts
font-awesome
menu/style.css
font-awesome.min (dupe)

SKY
sky-bundle (actual SKY)
sky-bundle (local, blank)
sky-community (blank)

community
*/


/* ---------->>> Layout Adjustments <<<-----------*/





/* ---------->>> Global <<<-----------*/







/* ---------->>> Bootstrap Adjustments <<<-----------*/






/* ---------->>> Home Page <<<-----------*/

/* Home */

 #welcome-text
{
    margin: 150px auto;
    width: 700px;
    padding: 10px 0 0;
    height: 400px;
    display: block;
    background-color: rgba(0, 0, 0, 0.41);
    text-align: center;
}

#welcome-text h1,#welcome-text h2,#welcome-text h3
{
    color:#FFF;
}

#welcome-text h1
{
    font-size:52px;
    font-weight:300;
    letter-spacing:-2.3px;
    line-height:49px;
    margin-bottom:32px;
    text-shadow:1px 1px 3px rgba(0,0,0,0.25);
}

#welcome-text h3
{
    font-size:26px;
    font-weight:300;
    letter-spacing:-0.8px;
    line-height:22px;
    text-shadow:1px 1px 3px rgba(0,0,0,0.25);
}

#welcome-text h1 br
{
    display:block;
}

#welcome-text a
{
    color: #FFF;
}

.homeSlider
{
    width:100%;
    height:450px;
    background-color:#e3e2e2;
    background-image:url("https://blackbaud.stage.smallworldlabs.com/content/images/banners/HeaderHome.jpg") !important;
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

.container.home {
    padding-top: 50px;
}

#main .site_page_column_0 #nav_search input
{
    width:380px;
    height:42px;
    line-height:30px;
    font-size:14px;
    padding:0 15px !important;
    /*border:1px solid rgb(232,232,232) !important;
    */
 border:none !important;
    border-radius:0;
    background-color:rgba(255,255,255,0.9);
    color:#1c84c5;
    box-shadow:none;
}

#main .site_page_column_0 #nav_search .search_submit_button
{
    height:42px !important;
    line-height:42px !important;
    background-color:#1c84c5 !important;
    font-size:20px !important;
    width:80px;
    text-align:center;
    margin:0 !important;
    border:none !important;
    border-radius:0;
    margin-left:-70px;
}

#main .site_page_column_0 #nav_search .search_submit_button:hover
{
    background-color:#2A93E9 !important;
    border:none !important;
    border-radius:0;
}

#welcome-block {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
#welcome-text {
    margin: 170px auto;
    width: 700px;
    padding: 30px 0 0;
    height: 300px;
    display: block;
    background-color: rgba(0, 0, 0, 0.41);
    text-align: center;
}
#welcome-text h3 {
	font-size:26px;
	font-weight:300;
	letter-spacing:-0.8px;
	line-height:22px;
	text-shadow:1px 1px 3px rgba(0,0,0,0.25);
}

/* Home page search */
.join-community {
    display: inline-block;
    float: left;

}
#welcome-search {
    width: 590px;
    margin: 0 auto;
    height: 60px;
}
form#welcome-search-form {
    margin: 0 0 0 10px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.41) !important;
    display: inline-block;
    width: 490px;
}
#welcome-search input#query_search {
    height: 40px;
    margin-left: 0;
    padding: 10px;
    width: 470px;
}
span.glyphicon.glyphicon-search {
    color: #777;
}

#welcome-search span.input-group-btn .btn {
    height: 40px !important;
    padding: 0;
    margin-left: -40px;
    background: transparent !important;
    z-index: 3;
}

a.btn-join-community,a.btn-join-community:visited
{
    background-color: #7ab800 !important;
    font-size: 20px !important;
    text-align: center;
    margin: 0;
    border: none !important;
    border-radius: 0;
    display: inline-block;
    color: #FFF !important;
    padding: 20px 25px;
    float: left;
    height: 60px;
}

a.btn-join-community:hover
{
    background-color:#99CC56 !important;
    border:none !important;
    border-radius:0;
    text-decoration:none;
}


/* ---------->>> Product Home <<<-----------*/
.product-header {
    width: 100%;
    height: 230px;
    max-height: 230px;
    background-color: #e3e2e2;
    /*background-image: url("https://blackbaud.stage.smallworldlabs.com/content/HeaderBanners/RETestBanner.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
}
div.product-content {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding: 35px 0 0;
}
/* Product Header Start Discussion Dropper */
.product-header .dropper {
    position: relative;
    display: block;
    padding: 0;
    margin: 10px 0;
    z-index: 3;
    height: 25px;
}
.product-header .dropper ul {
    background-color: transparent;
}
.product-header .dropper li {
    margin:0;
}
.product-header .dropper > ul > li:first-child {
    font-size: 18px;
    text-transform: uppercase;
}
.product-header .dropper > ul > li:after {
    content: "\f0d7";
    top: 5px;
    right: -20px;
    font-size: 25px;
}
.product-header .dropper > ul > li:hover:after {
    content: "\f0d8";
}
.product-header .dropper ul li {
    padding: 4px;
    margin: 0;
}
.product-header .dropper ul li ul {
    padding: 5px;
    top: 25px;
    left: 0 !important;
}
.product-logo {
  height: 64px;
}
.product-logo img {
  max-height: 100%;
}

/* Header search */

#header-search {
/*    width: 590px;
    margin: 0 auto;
    height: 60px;*/
}
form#header-search-form {
    margin: 0;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.41) !important;
    display: inline-block;
    width: 490px;
}
#header-search input#query_search {
    height: 40px;
    margin-left: 0;
    padding: 10px;
    width: 470px;
}
span.glyphicon.glyphicon-search {
    color: #777;
}

#header-search span.input-group-btn .btn {
    height: 40px !important;
    padding: 0;
    margin-left: -40px;
    background: transparent !important;
    z-index: 3;
}
/* ---------->>> /END Product Home <<<-----------*/









/* ---------->>> My Community Dashboard <<<-----------*/




/* ---------->>> /END My Community <<<-----------*/






/* ---------->>> Discussions Adjustments <<<-----------*/

/*Move the "like" button and reply button to the bottom*/
div.forum-topic-post {
  position: relative;
}
div.forumContainer div.postBody.topic-list-topic-body ul.topic-list-engagement-actions {
  position: static;
}
/* Hide the generic Reply button */
ul.horizontalList.topic-reply-button-container li.topic-reply-button {
  display: none;
}
/*Move the Answered/Unanswered flag up*/
li.forum-topic-status.forum-topic-status-level-2, li.forum-topic-status.forum-topic-status-level-1 {

}
ul.horizontalList.topic-list-engagement-actions li.forum_topic_like_list_item {
    width: 80px;
}
.forum-topic-post ul.horizontalList.topic-list-engagement-actions li.quote {
    position: absolute;
    bottom: -46px;
}
/*Answered/Unanswered*/
ul li.forum-topic-status {
    background-color: #A09E9E;
    border: none;
    box-shadow: none;
    display: block;
    float: right;
    font-weight: bold;
    margin: 2px 0 0 0;
    padding: 2px 0px;
    text-transform: uppercase;
    border-radius: 15px;
    width: 110px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

div.topic-actions {
  margin-top: 65px;
  height: 31px;
  position: relative;
}
div.topic-actions ul.horizontalList {
  padding-top: 0;
  position: absolute;
  top: -40px;
}
li.unWatch {
  padding: 0 !important;
  /*margin-top: 20px;
  height: 44px;
  padding-bottom: 10px;*/
}
div.topic-actions ul.horizontalList {
  padding-top: 0;
}

/* Reply buttons */
.postBody.topic-list-reply-body {
    position: relative;
}
ul.horizontalList.topic-list-engagement-actions {
    position: absolute;
    bottom: -30px;
}
.postBody.topic-list-topic-body li.quote {
    padding: 0;
    right: 0;
    margin: 0 -9px 0 0;
}
li.addComment a {
  font-weight: bold;
}

/*Style the discussions buttons the same*/
.topic-top-watch a#topicWatch::before,
.topic-top-watch li.add_bookmark::before,
ul.topic-list-engagement-actions li.quote a::before
{
    font-family: FontAwesome;
    margin-right: 5px;
}
.topic-top-watch a#topicWatch::before {
    content: '\f0e0';
}
.topic-top-watch li.add_bookmark::before {
    content: '\f02e';
}
ul.topic-list-engagement-actions li.quote a::before {
    content: '\f122';
}

.topic-top-watch a#topicWatch,
.topic-top-watch li.add_bookmark,
ul.topic-list-engagement-actions li.quote a
{
  background-color: #C8C8C8;
  color: #676a6c;
  border-radius: 0;
  cursor: pointer;
  font-size: 12px;
  height: 34px;
  line-height: 20px;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  margin-right: 8px;
}
.topic-top-watch a#topicWatch:hover,
ul.topic-list-engagement-actions li.quote a:hover {
  background-color: #BBBBBB;
  text-decoration: none;
}
/* Reply / Quote button */
ul.topic-list-engagement-actions li.quote a {
  background-color: #29ABE2;
  color: #FFF;
}
ul.topic-list-engagement-actions li.quote a:hover {
  background-color: #267292;
  text-decoration: none;
}

ul li.quote {
  background: transparent;
}

/* Report / Edit / Delete buttons */

/* Topic bottom actions */

.topic-bottom-actions .horizontalList.topic-bottom-watch li.watch {
    display: none;
}
a#topicWatch_2 {
    display: none;
}
/*Get rid of dotted line on topic post*/
.forum-topic-post .row1 {
    border: none;
}

/*Recent Discussions*/
.site_page_module.recent_topics .recent_topic_replies_list {
  margin-bottom: 10px;
  margin-top:10px;
}

/* ---------->>> /END Discussions Adjustments <<<-----------*/




/* ---------->>> Events Page Adjustments <<<-----------*/
.event h1 {
    padding-top: 8px;
}
.event .event-actions-wrapper {
    float: right;
    margin: 0;
}

.page-cat-events div#featured_event_author, .page-cat-events div#featured_event_details {
  font-size: 13px;
  padding: 0;
}
/*Reset the padding on the fields*/
.page-cat-events .fieldLabel, .page-cat-events .fieldResponse {
  padding: 0;
}
div.row1, div.row2 {
  padding: 0;
}
.page-cat-events div#formField_richText_event_description, .page-cat-events div#formField_dateTime_event_start, .page-cat-events div#formField_dateTime_event_end, .page-cat-events div#formField_textField_event_venue, .page-cat-events div#formField_Address_event_address
{
  padding: 0;
  margin-top: 10px;
}

.events_featured_event #itemBlock .userActions {
  padding-left: 0;
}
.events_featured_event ul.user-actions-ul,
.events_featured_event #itemBlock div.userActions ul li {
  margin: 0;
  padding: 0;
}
/*Get rid of icons*/
.page-cat-events div.userActions ul li.flag.event_flag_list_item,
.page-cat-events .events_edit_img,
.page-cat-events .events_delete_img,
.page-cat-events ul li.flag.delete
{
  background: none;
}



/* ---------->>> /END Events Page Adjustments <<<-----------*/








/* ---------->>> Add other sections... <<<-----------*/
