/* New Community CSS */
@import url("reset.css");
@import url("layout.css");
@import url("color.css");  
@import url("nav.css");  
@import url("subnav.css");  
@import url("frontpage.css");  
@import url("boxessitepages.css");  
@import url("header_banners.css");  /* Move the code here from site_pages */
@import url("site_pages.css");  

/*
Current Load Order

bootstrap

SWL:
site_pages
site_page_modules
jquery-ui

Blackbaud:
layout
color
nav
subnav
frontpage
boxessitepages
site_pages

Other:
google fonts
font-awesome
menu/style.css
font-awesome.min (dupe)

SKY
sky-bundle (actual SKY)
sky-bundle (local, blank)
sky-community (blank)

community
*/


/* ---------->>> Layout Adjustments <<<-----------*/





/* ---------->>> Global <<<-----------*/







/* ---------->>> Bootstrap Adjustments <<<-----------*/






/* ---------->>> Home Page <<<-----------*/
#welcome-block {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

#welcome-text {
    margin: 170px 0;
    width: 700px;
    padding: 30px 0 0;
    height: 300px;
    display: block;
    background-color: rgba(0, 0, 0, 0.41);
    text-align: center;
}

#welcome-text h3 {
	font-size:26px;
	font-weight:300;
	letter-spacing:-0.8px;
	line-height:22px;
	text-shadow:1px 1px 3px rgba(0,0,0,0.25);
}







/* ---------->>> Add other sections... <<<-----------*/
