/* ITEMS COMMON TO ALL BOXES */
 .boxfullbody
{
	width:800px;
	margin:10px;
	float:left
}

.boxsitepage,.boxsitepagebody,.boxsubfull,.boxsubfullbody
{
	border-width:1px;
	border-style:solid
}

.boxsitepage,.boxsubfull
{
	min-height:24px;
	margin:0;
	padding:0 12px;
	border-bottom:none
}

.boxsitepagebody,.boxsubfullbody
{
	margin:0 0 24px 0;
	padding:6px 12px;
	border-top:none
}

#user_status .boxsitepagebody
{
	border-top:1px solid
}

.boxsubfull.boxsubfull_sgroup_edit,#sgroup_header .boxsubfull
{
	padding:2px 6px !important
}

.boxsitepagebody .member_box
{
	margin:0 0 10px;
	padding:0;
	width:24.5%
}

.boxsitepagebody .member_box img
{
	padding:3px;
	border:1px solid #ccc
}

.profile_counter_5
{
	float:left;
	margin-right:4px
}

.profile_counter_value
{
	display:inline
}

.user_online_24
{
	margin:4px 0;
	padding:2px 0;
	text-align:center
}

table td
{
	vertical-align:top
}

.calendar-table
{
	width:100%;
	margin:20px 0 0 0;
	padding:0;
	border-collapse:collapse
}

.calendar-table thead tr th
{
	margin:0;
	padding:3px;
	height:20px;
	border:1px solid
}

.calendar-table thead tr td
{
	margin:0;
	padding:0 0 0 5px;
	height:20px;
	border:1px solid
}

.calendar-table thead tr td.center
{
	margin:0;
	padding:0
}

.calendar-table tbody tr
{
	border:1px solid
}

.calendar-table tbody tr td
{
	margin:0;
	padding:2px 5px 5px 5px;
	width:105px;
	height:80px;
	border:1px solid
}

.group-table
{
	margin:20px 0 0;
	padding:0;
	width:100%;
	border-collapse:collapse
}

.group-table thead tr th,.group-table thead tr td
{
	margin:0;
	padding:0 10px 0 5px;
	border-top:1px solid;
	height:20px
}

.group-table thead tr th.center,.group-table thead tr td.center
{
	margin:0;
	padding:0
}

.group-table tbody tr td
{
	margin:0;
	padding:5px;
	border-top:1px solid
}

.group-table tbody tr td img
{
	float:left;
	margin:0 5px 0 0
}

.normal-table
{
	margin:20px auto;
	padding:0;
	border-collapse:collapse;
	width:100%
}

.boxbasicinfo .normal-table
{
	margin:12px auto
}

.normal-table thead tr th
{
	margin:0;
	padding:0 4px;
	margin:0;
	min-height:25px;
	line-height:25px;
	border:none
}

.normal-table thead tr th.center
{
	margin:0;
	padding:5px
}

.normal-table thead tr td
{
	margin:0;
	padding:5px;
	height:20px;
	border-bottom:1px solid
}

.normal-table thead tr td.center
{
	margin:0;
	padding:0
}

.normal-table tbody tr td
{
	margin:0;
	padding:5px;
	border-bottom:1px solid
}

.boxbasicinfo .normal-table tbody tr td
{
	border:none
}

.normal-table tbody tr td img
{
	margin-right:5px;
	float:left;
	display:inline
}

.normal-table td.comment_rating_show
{
	width:140px
}

table.search_results tbody tr td
{
	padding-bottom:15px
}

.normal-table tr.post_row td
{
	border-bottom:none
}

.normal-table td.post_td_right
{
	text-align:center
}

.normal-table td.post_td_right .imagewrap
{
	display:block;
	text-align:center
}

.normal-table td.post_td_right .imagewrap img
{
	float:none
}

.layout_33_33_33 .site_page_column_0 object,.layout_33_33_33 .site_page_column_0 embde,.layout_25_75 .site_page_column_0 object,.layout_25_75 .site_page_column_0 embed
{
	width:200px;
	max-width:200px;
	/* Last line is to set max width in IE6 */

}

input[type=textarea],textarea,input[type=text],select,input#email,input#password
{
	border-width:1px;
	border-style:solid
}

input[type=textarea],textarea
{
	margin:4px 0 0 0
}

input[type=radio],.radio,input[type=checkbox],.checkbox
{
	border:none !important
}

.external_rss_feed_input input
{
	width:350px;
	border-width:1px;
	border-style:solid
}

.clear_button_box
{
	margin:0 0 12px 0
}

#add_post_content .fieldrow
{
	margin:6px 0;
	clear:both
}

#add_post_content .fieldrow .fieldlabel
{
	width:175px;
	padding:0 5px 0 0;
	float:left;
	font-weight:bold;
	text-align:right
}

#add_post_content textarea
{
	width:400px
}

#add_post_content .fieldlabel
{
	width:180px;
	display:block;
	float:left
}

#add_post_content .fieldinput
{
	width:480px;
	margin-left:185px
}

*+html #add_post_content .fieldinput
{
	margin-left:0
}

/* SHOWS ONLY TO IE7 VERSIONS AS OF MAY 2007 */
 #add_post_content .multiple_select
{
	width:480px;
	margin-left:185px
}

.source_select,.target_select
{
	width:165px;
	float:left
}

.site_page .buttons,#add_post_content .buttons
{
	width:auto;
	margin:0 10px;
	float:left;
	text-align:center !important
}

.site_page .buttons .button,#add_post_content .buttons .button
{
	width:auto !important;
	margin:0 auto 8px;
	font-weight:normal;
	text-transform:none
}

.multiple_select select
{
	width:100%;
	height:120px
}

.fieldlabel2
{
	margin:0 0 5px 0;
	padding:0 5px 0 0 !important;
	width:90px !important;
	display:inline;
	float:left
}

#degree_block .fieldlabel2
{
	width:125px !important
}

.fieldlabel3
{
	margin:0;
	padding:2px 0 0 0;
	display:inline;
	float:left
}

.fieldinput
{
	margin:0;
	float:left;
	text-align:left
}

.fieldinput3
{
	margin-left:175px !important
}

/* START FILTER TO ENSURE DIV SURROUNDS ITEMS INSIDE */
 .boxsitepage:after,.boxsitepagebody:after,.boxsubfull:after,.boxsubfullbody:after,#footerbar:after,#footer:after,.comment_comment:after,.fieldrow:after
{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}

.boxsitepage,.boxsitepagebody,.boxsubfull,.boxsubfullbody,#footerbar,#footer,.comment_comment,.fieldrow
{
	display:inline-block
}

html[xmlns] .boxsitepage,html[xmlns] .boxsitepagebody,html[xmlns] .boxsubfull,html[xmlns] .boxsubfullbody,html[xmlns] #footerbar,html[xmlns] #footer,html[xmlns] .comment_comment,html[xmlns] .fieldrow
{
	display:block
}

* html .boxsitepage,* html .boxsitepagebody,* html .boxsubfull,* html .boxsubfullbody,* html #footerbar,* html #footer,* html .comment_comment,* html .fieldrow
{
	height:1%
}

/* END FILTER */
 /* START FILTER TO ENSURE DIV SURROUNDS ITEMS INSIDE */
 .normal-table td.post_td_right .imagewrap:after
{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}

.normal-table td.post_td_right .imagewrap
{
	display:inline-block
}

html[xmlns] .normal-table td.post_td_right .imagewrap
{
	display:block
}

* html .normal-table td.post_td_right .imagewrap
{
	height:1%
}

/* END FILTER */
 .boxfullclassifiedbody .fieldinput
{
}

.boxfullclassifiedbody .fieldinput input
{
	margin:0;
	padding:0;
	width:200px;
	height:15px;
	display:inline
}

.boxsubfullbody .fieldinput
{
	width:215px
}

.boxsubfullbody .fieldinput #swlNavDiv
{
	width:570px !important
}

.boxsubfullbody .fieldinput input
{
	margin:0;
	padding:0;
	width:200px;
	display:inline
}

.boxsubfullbody .fieldinputlong input
{
	margin:0;
	padding:0;
	width:400px;
	height:15px;
	display:inline
}

.boxsubsplitbody .fieldinput
{
	width:200px
}

.boxsubsplitbody .fieldinput input
{
	margin:0;
	padding:0;
	width:200px;
	display:inline
}

.blockspacer
{
	margin:0 !important;
	padding:0 !important;
	height:0px !important;
	overflow:hidden;
	clear:both
}

.blockspacer-small
{
	height:1px;
	overflow:hidden;
	clear:both
}

.boxdivider
{
}

.formbutton
{
	padding:0 10px 0 10px;
	border:none
}

.checkboxlabel
{
	margin:0;
	padding:2px 10px 0 0;
	width:100px;
	display:inline;
	float:left
}

.fieldlabel
{
	margin:0;
	padding:2px 10px 0 0;
	width:150px;
	display:inline;
	float:left
}

.fieldrow input.uploadselector
{
}

.fieldlabel2
{
	margin:0 0 5px 0;
	padding:0 5px 0 0 !important;
	width:90px !important;
	display:inline;
	float:left
}

#degree_block .fieldlabel2
{
	width:125px !important
}

.fieldlabel3
{
	margin:0;
	padding:2px 0 0 0;
	display:inline;
	float:left
}

.fieldinput
{
	margin:0;
	float:left;
	text-align:left
}

.fieldinput3
{
	margin-left:175px !important
}

.fieldinput .fullsize
{
}

.photoleft
{
	display:inline;
	float:left;
	padding-right:10px;
	width:100px
}

.photoright
{
	display:inline;
	float:left;
	width:30px
}

.regblock
{
}

.friendblock
{
	margin:0 auto;
	display:block
}

.friends
{
	min-height:130px;
	float:left
}

.friendblock table tr td,.friendblock td.friends
{
	text-align:center;
	float:none;
	padding:0 0 8px 0
}

.friendblock .friends
{
	width:24% !important;
	padding:0;
	text-align:center
}

#siteleft .friendblock .friends
{
	width:47.5% !important;
	padding:0 1%
}

.friendblock table
{
	width:auto !important
}

#profile_posts_details_body .friendblock .friends
{
	width:auto !important;
	padding:0
}

.profile_posts_details_comment_24_body
{
	width:auto
}

.groupfriends
{
	width:auto;
	max-width:100px;
	height:120px;
	margin:0 9px 0 0;
	float:left;
	padding-bottom:20px
}

.groupfriends a
{
	width:100%;
	display:block
}

.loginfriends
{
	margin:5px 5px 0 5px;
	padding:0;
	width:100px;
	float:left;
	display:inline
}

#thmbpic a img
{
}

.boxsubfullbody .friends_profile_posts
{
	width:100% !important;
	padding:0
}

.boxsubfullbody .friends_profile_posts .allcommentsblock
{
	padding:0 0 0 130px !important
}

.registrants
{
	margin:10px;
	padding:0;
	width:50px;
	float:left
}

#classifiedheader
{
	margin:0;
	padding:0;
	height:35px;
	border-left:1px solid;
	border-right:1px solid
}

#classifiedheader ul
{
	margin:0;
	padding:0
}

#classifiedheader li
{
	margin:0;
	padding:0;
	width:75px;
	display:inline
}

#classifiedheader li a
{
	padding:1px 0 3px;
	display:inline;
	border:1px solid
}

#classifiedheader li a.selected
{
}

#classifiedheader li a:hover
{
}

.classifiedmini
{
	margin:10px 0 0 10px;
	padding:0;
	width:110px;
	height:120px;
	float:left
}

.classifiedmini a img
{
}

td.keyword_media_result
{
	padding:0 24px 0 0;
	text-align:center
}

.fieldinput input
{
	margin:0;
	padding:0;
	display:inline;
	border:1px solid
}

.fieldinput2 input
{
	margin:0;
	padding:0;
	width:250px;
	display:inline;
	border:1px solid
}

.fieldinput .group
{
	padding:0 5px 0 0;
	display:inline;
	float:left
}

.fieldinput input.file
{
	margin:0;
	padding:0;
	height:20px
}

.fieldinput textarea
{
	width:500px;
	height:50px;
	border:1px solid
}

.fieldinput textarea.small
{
	width:250px;
	height:50px
}

.fieldinput textarea.tall
{
	width:250px;
	height:100px
}

.fieldinput input.large
{
	margin:0;
	padding:0;
	width:400px;
	display:inline
}

.fieldinput input.small
{
	margin:0;
	padding:0;
	width:50px;
	display:inline
}

.fieldinput input.smaller
{
	margin:0;
	padding:0;
	width:25px;
	display:inline
}

.fieldinput input.radio
{
	margin:0 2px 0 5px;
	padding:0;
	width:auto;
	display:inline;
	border:none
}

.fieldinput input.checkbox
{
	margin:0 2px 0 5px;
	padding:0;
	width:auto;
	display:inline;
	border:none
}

.fieldinput2 input.checkbox
{
	margin:0 2px 0 5px;
	padding:0;
	width:auto;
	display:inline;
	border:none
}

.fieldinput .genericcheckbox
{
	margin:2px 0 0 0;
	float:left;
	display:inline
}

.fieldinput .genericcheckboxlabel
{
	margin:2px 0 0 0;
	float:left;
	display:inline
}

select
{
	margin:0;
	padding:0;
	border:1px solid;
	display:inline
}

.fieldinput select
{
	margin:0;
	padding:0;
	display:inline
}

.fieldinput input[type=hidden]
{
	border:none;
	/* ENSURES HIDDEN INPUT FIELDS DO NOT HAVE BORDERS IN ANY BROWSER;
	MUST REMAIN BELOW OTHER INPUT FIELD STYLES */

}

.fieldspacer,.fieldspacer5
{
	height:5px;
	margin:0;
	padding:0;
	overflow:hidden;
	display:block;
	clear:both
}

.fieldrow
{
	margin:6px 0 0 0;
	clear:both
}

.classfieldrow
{
	clear:both
}

.fieldrow2
{
}

.formsectionheading
{
	margin:0;
	padding:10px 0 5px 0
}

.formsectionheading a
{
}

.adrectangle
{
}

#adbanner
{
}

#leftads
{
}

#withadswide #leftads
{
}

.selectdeselect
{
	margin:0 15px 0 0;
	padding:0 0 10px 0;
	float:right
}

*+html .selectdeselect
{
	margin-right:5px;
	/* SHOWS ONLY TO IE7 VERSIONS AS OF MAY 2007 */

}

.selectdeselect .text
{
	margin:0;
	padding:0 5px 0 0;
	float:left
}

.selectdeselect .checkbox
{
	margin:0;
	padding:0
}

.selectdeselect input[type=checkbox]
{
	margin:0;
	padding:0;
	/* ENSURES HIDDEN INPUT FIELDS DO NOT HAVE BORDERS IN ANY BROWSER;
	MUST REMAIN BELOW OTHER INPUT FIELD STYLES */

}

.fielddivider
{
	margin:10px auto;
	padding:0;
	height:1px;
	width:96%;
	overflow:hidden;
	clear:both
}

.profile_counter_5
{
	float:left;
	margin-right:4px
}

.profile_counter_value
{
	display:inline
}

.photothumbs
{
	width:100%
}

.photothumb
{
	margin:10px 10px 0;
	padding:0;
	float:left;
	width:130px
}

.photothumbimg
{
	padding:0;
	width:110px;
	height:110px
}

.normal-table .photothumb .photothumbimg
{
	width:130px
}

.photothumbimg img,.photothumbimg a img
{
	width:auto;
	display:block !important;
	margin-left:auto !important;
	margin-right:auto !important;
	float:none !important
}

.photothumblabel
{
	width:125px;
	margin:auto;
	text-align:center
}

.boxfullbody table.normal-table td .photothumblabel
{
	font-size:10px
}

.boxfullbody table.normal-table td .photothumblabel a
{
	font-size:12px
}

.boxfullbody table.normal-table td .photothumblabel ul
{
	display:none
}

.boxfullbody .normal-table .fieldrow
{
	clear:both
}

#more_non br
{
	display:none !important;
	/* This overwrites unneeded <br /> tags in template that cause layout problems */

}

.swlgallery_photo_starrating_separator
{
	width:auto !important;
	height:19px;
	padding:2px 0;
	text-align:left !important
}

.swlgallery_starimage
{
	float:left
}

.flag_comment textarea
{
	width:96%
}

.flag_comment span
{
	display:block
}

.swlgallery_viewed_photo_info .sitebutton ul,tr.post_row .sitebutton ul
{
	text-align:left
}

#multimedia_body .swlgallery_photo_starrating_separator .swlgallery_starimage
{
	display:inline;
	float:none
}

table td
{
	vertical-align:top
}

.calendar-table
{
	width:100%;
	margin:20px 0 0 0;
	padding:0;
	border-collapse:collapse
}

.calendar-table thead tr th
{
	margin:0;
	padding:3px;
	height:20px;
	border:1px solid
}

.calendar-table thead tr th a
{
}

.calendar-table thead tr td
{
	margin:0;
	padding:0 0 0 5px;
	height:20px;
	border:1px solid
}

.calendar-table thead tr td.center
{
	margin:0;
	padding:0
}

.calendar-table tbody tr
{
	border:1px solid
}

.calendar-table tbody tr td
{
	margin:0;
	padding:2px 5px 5px 5px;
	width:105px;
	height:80px;
	border:1px solid
}

.calendar-table tbody tr td a
{
}

.group-table
{
	margin:20px 0 0;
	padding:0;
	width:100%;
	border-collapse:collapse
}

.group-table thead tr th,.group-table thead tr td
{
	margin:0;
	padding:0 10px 0 5px;
	border-top:1px solid;
	height:20px
}

.group-table thead tr th.center,.group-table thead tr td.center
{
	margin:0;
	padding:0
}

.group-table tbody tr td
{
	margin:0;
	padding:5px;
	border-top:1px solid
}

.group-table tbody tr td img
{
	float:left;
	margin:0 5px 0 0
}

#withads .group-table
{
}

#withadswide .group-table
{
}

.normal-table
{
	margin:20px auto;
	padding:0;
	border-collapse:collapse;
	width:100%
}

.boxbasicinfo .normal-table
{
	margin:12px auto
}

.normal-table thead tr th
{
	margin:0;
	padding:0 4px;
	margin:0;
	min-height:25px;
	line-height:25px;
	border:none
}

.normal-table thead tr th.center
{
	margin:0;
	padding:5px
}

.normal-table thead tr th select
{
}

.normal-table thead tr th a
{
}

.normal-table thead tr td
{
	margin:0;
	padding:5px;
	height:20px;
	border-bottom:1px solid
}

.normal-table thead tr td.center
{
	margin:0;
	padding:0
}

.normal-table tbody tr td
{
	margin:0;
	padding:5px;
	border-bottom:1px solid
}

.boxbasicinfo .normal-table tbody tr td
{
	border:none
}

.normal-table tbody tr td a
{
}

.normal-table tbody tr td .sitebutton a
{
}

.normal-table tbody tr td img
{
	margin-right:5px;
	float:left;
	display:inline
}

.normal-table td.comment_rating_show
{
	width:140px
}

table.search_results tbody tr td
{
	padding-bottom:15px
}

.normal-table tr.post_row td
{
	border-bottom:none
}

.normal-table td.post_td_right
{
	text-align:center
}

.normal-table td.post_td_right .imagewrap
{
	display:block;
	text-align:center
}

/* START FILTER TO ENSURE DIV SURROUNDS ITEMS INSIDE */
 .normal-table td.post_td_right .imagewrap:after
{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}

.normal-table td.post_td_right .imagewrap
{
	display:inline-block
}

html[xmlns] .normal-table td.post_td_right .imagewrap
{
	display:block
}

* html .normal-table td.post_td_right .imagewrap
{
	height:1%
}

/* END FILTER */
 .normal-table td.post_td_right .imagewrap img
{
	float:none
}

form
{
	margin:0;
	padding:0
}

.email-opts
{
}

.email-opts td
{
}

.select-norm
{
}

.subject,.unread
{
}

.comment
{
	padding:0 0 0 15px
}

hr
{
	height:1px;
	border:none;
	clear:both
}

table.rsvp
{
}

ul.norm
{
}

ul.norm li
{
}

.fieldrow .file
{
}

.wn5
{
	height:100px
}

.contacts_sel,.contactsList
{
	width:150px
}

#reminders_body table
{
	margin-left:0px !important
}

.whats_new_category
{
	min-height:100px;
	width:50%;
	float:left
}

.whats_new_category ul
{
	margin-top:8px;
	margin-left:8px
}

.boxarticlebody .feedback td.rating .thumbs
{
	margin:8px 0
}

.thumb.thumb_up,.thumb.thumb_down
{
	width:auto;
	margin:0 32px 0 0;
	float:left
}

.thumb.thumb_up img,.thumb.thumb_down img
{
	float:left
}

.thumbs_sblog,.thumbs_photos,.thumbs_multimedia
{
	height:18px;
	width:auto;
	display:block
}

.feedback
{
	margin:16px 0 0;
	padding:12px 0 0;
	border-top:1px solid
}

.feedback .user_photo,.feedback .user_info
{
	width:120px;
	text-align:center;
	float:left;
	display:inline
}

.feedback .user_info
{
	float:none;
	display:block
}

.feedback .last_update,.feedback .user_info
{
	font-weight:bold
}

.feedback .last_update,.feedback .thumbs,.feedback .comment,.feedback .sblog_feedback_list,.item_comment .comment_text,.item_comment ul
{
	margin:0 0 8px 70px
}

.see_more_comments
{
	margin:0;
	padding:0;
	text-align:right;
	font-weight:bold
}

.accepted div.popup,.public_event div.popup,.owned div.popup,.maybe div.popup,.undecided div.popup
{
	width:270px !important
}

.accepted div.popup img,.public_event div.popup img,.owned div.popup img,.maybe div.popup img,.undecided div.popup img
{
	margin-right:5px;
	display:inline
}

.accepted .event_info,.public_event .event_info,.owned .event_info,.maybe .event_info,.undecided .event_info
{
	width:160px
}

.accepted .event_info,.accepted .event_info a.accepted_event,.public_event .event_info,.public_event .event_info a.public_event,.owned .event_info a.public_event,.maybe .event_info a.public_event,.undecided .event_info a.public_event
{
	display:inline
}

 /* Product Select Page */
 /*.page_10380 .module_container a[id*="custom_button"]
{
	background-repeat:no-repeat;
	padding:20px;
	display:block;
	width:150px;
	height:64px !important;
	padding-left:70px !important;
	border-radius:4px
}

.page_10380 #html_custom_button_0_2_button,.page_10380 #html_custom_button_0_3_button
{
	background-color:#f57e20 !important
}

.page_10380 .module_container a[id*="custom_button"]:hover
{
	background-color:grey !important
}

.page_10380 #html_custom_button_0_0_button,.page_10380 #html_custom_button_0_2_button
{
	background-image:url(https://static.stage.smallworldlabs.com/blackbaud/content/blackbaud/products/bino.gif)
}

.page_10380 #html_custom_button_0_1_button,.page_10380 #html_custom_button_0_3_button
{
	 background-image:url(https://static.stage.smallworldlabs.com/blackbaud/content/blackbaud/products/docu.gif)
}

.page_10380 #module_0-2
{
	position:relative;
	top:-140px
}

.page_10380 #module_0-3
{
	position:relative;
	top:-70px
}
*/

