/* ALL CONTROLS FOR MAINNAV ITEMS ----------------------------------------------- */
 #mainnav
{
	height:55px;
	background:none;
	width:100%;
	position:absolute;
	top:65px;
	/*left:50%;
	margin-left:-600px;
	padding-left:600px;
	float:right;
	border-bottom:8px solid #7ab800 !important;
	*/

}

#mainnav ul
{
	width:700px;
	/*margin:0 auto;
	*/
 /*padding:0 0 0 675px;
	*/
 margin:0 auto 0 51.3%;
	padding:0;
	direction:rtl;
	height:55px;
	line-height:40px;
	font-weight:bold;
	font-size:18px
}

#mainnav li
{
	width:auto;
	margin:0;
	padding:0;
	float:left;
	background:none;
	text-align:center
}

#mainnav li:hover
{
	background-color:#EEEEEE;
}

/* Green background color for final special link */
#mainnav li.mainnav-link-6 {
	background-color: #7ab800;

	/*Hide the "join" button from the navigation bar */
	/*Overidden: Shows for logged-out users in the Footer Template module CSS:Show Join button */
	display: none;
}

	#mainnav li.mainnav-link-6:hover {
		background-color: #EEEEEE;
	}

	#mainnav li.mainnav-link-6 a {
		color: white;
		text-transform: uppercase;
	}

#mainnav li a
{
	width:auto;
	margin:0;
	display:block;
	padding:0 11px 15px 11px;
	color:#464646;
	text-decoration:none;
	font-weight:400;
	text-transform:lowercase;
	font-size:16px
}

#mainnav li a:hover
{
	color:#3B3B3B !important
}

li.mainnav-selected,li.mainnav-selected:hover
{
	background-color:#7AB800 !important
}

#mainnav li.mainnav-selected a,li.mainnav-selected a,li.mainnav-selected a:hover,li.mainnav-selected:hover a,li.mainnav-selected:hover a:hover
{
	color:#ffffff !important
}

li.mainnav-selected ul li a,li.mainnav-selected:hover ul li a
{
	color:#8e8e8e !important
}

#mainnav li a span
{
}

#mainnav li a:hover,#mainnav li a.hassubmenu:hover,#mainnav li:hover a.hassubmenu,#mainnav li.sfhover a.hassubmenu
{
	background:none;
	color:#7AB800
}

#mainnav li.selected a,#mainnav li.selected a:hover
{
	color:#333;
	background:#408fc2
}

/* FOR DROPDOWN MENUS ----------------------------------------------- */
 #mainnav ul li ul
{
	/* second-level lists */
	margin:0;
	padding:8px 0 0 0;
	left:-999em;
	line-height:30px;
	position:absolute;
	z-index:9999;
	float:none;
	border:none !important;
	background:white;
	-webkit-box-shadow:inset 0 -1px 0 1px #e6e6e6 !important;
	box-shadow:inset 0 -1px 0 1px #e6e6e6 !important;
	margin-left:1px;
	border-top:1px solid #F1F1F1 !important;
	width:250px
}

#mainnav ul li ul li a
{
	text-transform:none !important
}

#mainnav li > ul > li
{
	width:160px;
	margin:0;
	padding:0 0 0px 0;
	float:none
}

#mainnav ul li li.selected
{
	background:none !important
}

#mainnav li li a
{
	/* all list items */
	margin:0 6px !important;
	padding:0 9px !important;
	text-align:left;
	background:transparent;
	font-size:14px;
	font-weight:300;
	display:block;
	border-radius:20px;
	min-height:30px !important;
	line-height:30px !important
}

#mainnav li li a:hover,#mainnav li.selected li a:hover
{
	/* all list items */
 /*color:#ffffff !important;
	*/
 /*background:#f57e20*/
 background-color:transparent
}

#mainnav li.mainnav-selected li a
{
	color:#8e8e8e !important
}

#mainnav li.mainnav-selected li a:hover
{
	color:#ffffff !important
}

#mainnav li:hover ul ul ul,#mainnav li.sfhover ul ul,#mainnav li.sfhover ul ul ul
{
	left:-999em
}

#mainnav li:hover ul ul
{
	left:-5px;
	position:absolute
}

#mainnav li:hover ul,#mainnav li li:hover ul,#mainnav li li li:hover ul,#mainnav li.sfhover ul,#mainnav li li.sfhover ul,#mainnav li li li.sfhover ul
{
	/* lists nested under hovered list items */
 left:-5px
}

#mainnav li#nolink li a:hover,#mainnav li#nolink:hover li a,#mainnav li#nolink.sfhover li a,#mainnav li#nolink a:hover li a
{
	cursor:pointer
}

/* ### SECTION BELOW IS FOR DROPDOWN QUIRK FIXES ### */
 /* Support for IE6 dropdown/form item fix */
 #mainnav iframe
{
	position:absolute !important;
	left:0 !important;
	top:0 !important;
	z-index:-1 !important
}

/* this is for IE 5.0 select.hide
{
	visibility:hidden
}

/* End Support for the "iehover-fix.js" */
 #mainnav li:hover ul,#nav li.sfhover ul
{
	left:auto;
	background-position:0 0
}

ul#dropdownmenu
{
	height:auto !important;
	padding-bottom:10px !important
}

