.home_cta ul
{
	/*background-color:rgba(255,204,135,0.62);
	*/
 /*margin:43px 0;
	*/
;
}

.home_cta li
{
	background-color:rgba(155,204,135,0.62);
 	margin:0;
	padding:0;
	text-align:center;
	list-style:none;
	display:inline-block;
	float:left;
 	width:37%;
}

.cta_content ul
{
	margin:43px auto 0;
	text-align:center;
}

.cta_content ul li
{
	display:inline-block;
}

.home_cta a
{
	text-decoration:none;
}

.home_cta span
{
	margin:4px 0 0 0;
	display:block;
}

.home_cta .label
{
	margin:4px 0 0 0;
	color:#333333;
	font-size:17px;
	font-weight:300;
	margin-top:10px;
}

.home_cta .number
{
	color:#1c84c5;
	font-size:29px;
	font-weight:bold;
	letter-spacing:0px;
	line-height:22px;
	margin-top:22px;
}

.home_cta a:hover .number
{
	color:#2A93E9;
}

/* Modifier */
 .home_cta--learn li
{
	width:30%;
}

.home_cta--connect .cta_content
{
	border-right:none;
}

.clearfix
{
	clear:both;
}

a.btn-join-community,a.btn-join-community:visited
{
	background-color:#1c84c5 !important;
	font-size:20px !important;
	text-align:center;
	margin:20px 0 0;
	border:none !important;
	border-radius:0;
	display:inline-block;
	position:relative;
	color:#FFF !important;
	padding:10px 15px;
}

a.btn-join-community:hover
{
	background-color:#2A93E9 !important;
	border:none !important;
	border-radius:0;
	text-decoration:none;
}

/* --- /END Home:CTA's --- */
 /* Home:Top Members */
 .site_page_module.users_all_users_by_points .boxsitepage
{
	background-color:transparent;
	border:none;
}

div.user-list div.user-list-item.itemMedium
{
	width:60px !important;
}

.page_1 div.user-list div.user-list-item
{
	margin:5px !important;
}

div.user-list div.user-list-item.hoverBox
{
	min-width:0px;
	border-radius:0 !important;
	width:60px !important;
	padding:0 !important;
}

div.imageMediumSquare
{
	width:60px;
	background:transparent;
}

div.imageMediumSquare a
{
	width:60px;
	height:60px;
}

.page_1 .site_page_module.users_all_users_by_points div.pagination.paginator-pagination
{
	display:none;
}

.site_page_module.users_all_users_by_points
{
	width:1200px;
	padding:0px;
	margin-bottom:45px;
}

.site_page_module.users_all_users_by_points .boxsitepagebody
{
	padding:5px;
	margin:0;
}

.boxsitepage .p1,.boxsubfull .heading
{
	letter-spacing:-0.5px;
	margin-bottom:10px;
}

.boxsitepage,.boxsitepagebody,.boxsubfull,.boxsubfullbody
{
	border-width:0;
}
 
